Repository ObsidianLabs/electron-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, import-sort --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{css,json,md,yaml,yml}": ["prettier --write"],
  "**/*.{scss, css}": ["stylelint"],
  "**/*.{js,jsx}": ["import-sort --write", "prettier --write", "eslint --fix"]
}

chore: add editor config
  .editorconfig
Due: none

chore: update
  .eslintrc
  .jsinspectrc
  .lintstagedrc.json
  .prettierrc
Due: prettier --write

chore: update
  .editorconfig
  .eslintrc
  .eslintrc.json
  .jsinspectrc.json
  .prettierrc.json
  package.json
  yarn.lock
Due: prettier --write

allow import file
  packages/ui-components/src/inputs/DebouncedFormGroup.js
Due: prettier --write, import-sort --write, eslint --fix

feat: allow import file (#152)
  packages/ui-components/src/inputs/DebouncedFormGroup.js
Due: prettier --write, import-sort --write, eslint --fix

fix: nav text hidden icon position
  .gitignore
  packages/ui-components/src/Tabs/styles.scss
  yarn.lock
Due: stylelint

fix: nav text hidden icon position (#153)
  .gitignore
  packages/ui-components/src/Tabs/styles.scss
  yarn.lock
Due: stylelint

fix: first load the first tab text height overflow
  packages/ui-components/src/Tabs/TabHeader.js
  packages/ui-components/src/Tabs/Tabs.js
Due: prettier --write, import-sort --write, eslint --fix

fix: first load the first tab text height overflow
  packages/ui-components/src/Tabs/TabHeader.js
Due: prettier --write, import-sort --write, eslint --fix

feat: create TutorialModal
  packages/i18n/src/locales/zh.js
  packages/navbar/src/User.js
  packages/user/src/UserHomepage.js
  packages/workspace/src/components/CreateFileOrFolderModals.js
  packages/workspace/src/components/TutorialModal.js
  packages/workspace/src/index.js
Due: prettier --write, import-sort --write, eslint --fix

style: remove useless code
  packages/i18n/src/locales/en.js
  packages/user/src/UserHomepage.js
  packages/workspace/src/components/TutorialModal.js
Due: prettier --write, import-sort --write, eslint --fix

fix: remove redundant comments
  packages/navbar/src/User.js
  packages/user/src/UserHomepage.js
  packages/workspace/src/components/TutorialModal.js
  packages/workspace/src/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

upgrade keypair detail model
  packages/keypair/src/KeypairInputSelector.js
  packages/keypair/src/KeypairManagerModal.js
  packages/keypair/src/KeypairSelector.js
  packages/keypair/src/keypairManager.js
  packages/keypair/src/redux/index.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add apple m1 core cpu check util
  packages/platform/src/index.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add apple m1 core cpu check util (#157)
  packages/platform/src/index.js
Due: prettier --write, import-sort --write, eslint --fix

remove comment
  packages/keypair/src/keypairManager.js
Due: prettier --write, import-sort --write, eslint --fix

fix: first load first tab height overflow (#154)
  packages/ui-components/src/Tabs/TabHeader.js
  packages/ui-components/src/Tabs/Tabs.js
Due: prettier --write, import-sort --write, eslint --fix

style: reduce inline-style
  packages/workspace/src/components/TutorialModal.js
  packages/workspace/src/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

feat: upgrade keypair detail model (#156)
  packages/keypair/src/KeypairInputSelector.js
  packages/keypair/src/KeypairManagerModal.js
  packages/keypair/src/KeypairSelector.js
  packages/keypair/src/keypairManager.js
  packages/keypair/src/redux/index.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add the tutorial modal for first visit user (#155)
  packages/i18n/src/locales/en.js
  packages/i18n/src/locales/zh.js
  packages/navbar/src/User.js
  packages/user/src/UserHomepage.js
  packages/workspace/src/components/CreateFileOrFolderModals.js
  packages/workspace/src/components/TutorialModal.js
  packages/workspace/src/index.js
  packages/workspace/src/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: center the close btn and fix plus sign's bg-color error in desktop. (#145)
  packages/ui-components/src/Tabs/TabHeader.js
  packages/ui-components/src/Tabs/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: unified mouse hover style
  packages/ui-components/src/inputs/DropdownInput.js
  packages/ui-components/src/styles/index.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

bug fixed
  packages/keypair/src/KeypairManagerModal.js
Due: prettier --write, import-sort --write, eslint --fix

bug fixed (#159)
  packages/keypair/src/KeypairManagerModal.js
Due: prettier --write, import-sort --write, eslint --fix

fix: modify and optimize style writing
  packages/navbar/src/NavDropdown.js
  packages/ui-components/src/inputs/DebouncedInput.js
  packages/ui-components/src/inputs/DropdownInput.js
  packages/ui-components/src/styles/index.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

make tabheader to CLASS COMPONENT fron FUNCTION COMPONENT
  packages/filetree/src/index.js
  packages/ui-components/src/Tabs/TabHeader.js
  packages/workspace/src/components/Workspace.js
Due: prettier --write, import-sort --write, eslint --fix

feat: file tree blank area right click display operation menu
  packages/filetree/src/index.js
Due: prettier --write, import-sort --write, eslint --fix

fix: new default root directory in blank area
  packages/filetree/src/index.js
Due: prettier --write, import-sort --write, eslint --fix

fix: unified mouse hover style (#158)
  packages/navbar/src/NavDropdown.js
  packages/ui-components/src/inputs/DebouncedInput.js
  packages/ui-components/src/inputs/DropdownInput.js
  packages/ui-components/src/styles/index.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: in the blank area new file default root directory
  packages/filetree/src/index.js
Due: prettier --write, import-sort --write, eslint --fix

chore: add dangerjs support
  .github/auto-assign.yml
  .github/policy.yml
  .github/pull_request_ci.yml
  dangerfile.js
  package.json
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: update workflow
  .github/workflow/pull_request_ci.yml
Due: prettier --write

chore: add dangerjs support (#163)
  .github/auto-assign.yml
  .github/policy.yml
  .github/workflow/pull_request_ci.yml
  dangerfile.js
  package.json
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix
