Repository ObsidianLabs/electron-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, import-sort --write, eslint --fix

fix: fontawesome render error
  packages/navbar/src/NavLinkContent.js
Due: prettier --write, import-sort --write, eslint --fix

fix: building warning and circle deps
  packages/code-editor/package.json
  packages/docker/package.json
  packages/filetree/package.json
  packages/filetree/rollup.config.js
  packages/global/package.json
  packages/keypair/package.json
  packages/keypair/rollup.config.js
  packages/navbar/package.json
  packages/notification/package.json
  packages/queue/package.json
  packages/terminal/package.json
  packages/ui-components/package.json
  packages/ui-components/src/Tabs/CustomDragLayer.js
  packages/ui-components/src/Tabs/TabHeader.js
  packages/user/package.json
  packages/workspace/package.json
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore(build): add trigger deploy job
  .github/workflows/trigger_deploy.yml
Due: prettier --write

chore(build): add trigger deploy job (#232)
  .github/workflows/trigger_deploy.yml
Due: prettier --write

fix: building warning and circle deps (#231)
  packages/code-editor/package.json
  packages/docker/package.json
  packages/filetree/package.json
  packages/filetree/rollup.config.js
  packages/global/package.json
  packages/keypair/package.json
  packages/keypair/rollup.config.js
  packages/navbar/package.json
  packages/notification/package.json
  packages/queue/package.json
  packages/terminal/package.json
  packages/ui-components/package.json
  packages/ui-components/src/Tabs/CustomDragLayer.js
  packages/ui-components/src/Tabs/TabHeader.js
  packages/user/package.json
  packages/workspace/package.json
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

fix: workflow format
  .github/workflows/trigger_deploy.yml
Due: prettier --write

fix: trigger job token
  .github/workflows/trigger_deploy.yml
Due: prettier --write

fix: ignore readme file case (#229)
  packages/workspace/src/ProjectManager/LocalProjectManager.js
Due: prettier --write, import-sort --write, eslint --fix

fix: fix bsn bugs
  packages/code-editor/src/CodeEditorCollection.js
  packages/filetree/src/index.js
  packages/ui-components/src/Tabs/Tabs.js
  packages/workspace/src/components/Workspace.js
Due: prettier --write, import-sort --write, eslint --fix

feat: the desktop add setting projects workspace
  packages/file-ops/src/ElectronFileOps.js
  packages/user/src/UserHomepage.js
  packages/workspace/src/actions.js
  packages/workspace/src/components/WorkspaceSettingModal.js
  packages/workspace/src/index.js
  packages/workspace/src/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: fix bugs
  packages/code-editor/src/CodeEditorCollection.js
Due: prettier --write, import-sort --write, eslint --fix

fix: fix bugs (#235)
  packages/code-editor/src/CodeEditorCollection.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add cut, copy shotcut
  packages/file-ops/src/ElectronFileOps.js
  packages/filetree/src/index.js
  packages/workspace/src/ProjectManager/LocalProjectManager.js
  packages/workspace/src/components/Workspace.js
  packages/workspace/src/components/contextMenu.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add delete shotcut
  packages/code-editor/src/MonacoEditor/MonacoEditor.js
  packages/code-editor/src/MonacoEditor/modelSessionManager/MonacoEditorModelSession.js
  packages/filetree/package.json
  packages/filetree/src/helper.js
  packages/filetree/src/index.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add useBatchLoad hooks
  packages/filetree/src/hooks/useBatchLoad.js
  packages/filetree/src/index.js
Due: prettier --write, import-sort --write, eslint --fix

Feat: file tree keypress (#236)
  packages/code-editor/src/MonacoEditor/MonacoEditor.js
  packages/code-editor/src/MonacoEditor/modelSessionManager/MonacoEditorModelSession.js
  packages/file-ops/src/ElectronFileOps.js
  packages/filetree/package.json
  packages/filetree/src/helper.js
  packages/filetree/src/hooks/useBatchLoad.js
  packages/filetree/src/index.js
  packages/workspace/src/ProjectManager/LocalProjectManager.js
  packages/workspace/src/components/Workspace.js
  packages/workspace/src/components/contextMenu.js
Due: prettier --write, import-sort --write, eslint --fix

feat: the desktop add setting projects workspace (#234)
  packages/file-ops/src/ElectronFileOps.js
  packages/user/src/UserHomepage.js
  packages/workspace/src/actions.js
  packages/workspace/src/components/WorkspaceSettingModal.js
  packages/workspace/src/index.js
  packages/workspace/src/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: fix bsn project
  packages/workspace/src/components/Workspace.js
Due: prettier --write, import-sort --write, eslint --fix

fix create new project if workspace have default address
  packages/workspace/src/components/NewProjectModal.js
  packages/workspace/src/components/WorkspaceSettingModal.js
Due: prettier --write, import-sort --write, eslint --fix

fix: change input placeholder
  packages/workspace/src/components/NewProjectModal.js
Due: prettier --write, import-sort --write, eslint --fix

fix: delete folder failed in windows
  packages/file-ops/main/index.js
  packages/file-ops/package.json
  packages/file-ops/src/ElectronFileOps.js
  packages/workspace/src/ProjectManager/LocalProjectManager.js
Due: prettier --write, import-sort --write, eslint --fix

fix: file tree node active bg color
  packages/filetree/src/styles.css
Due: prettier --write

fix: file tree node active bg color (#239)
  packages/filetree/src/styles.css
Due: prettier --write

fix: create new project if workspace have default address (#238)
  packages/workspace/src/components/NewProjectModal.js
  packages/workspace/src/components/WorkspaceSettingModal.js
Due: prettier --write, import-sort --write, eslint --fix

fix: keypress bug part1
  packages/filetree/src/helper.js
  packages/filetree/src/hooks/useBatchLoad.js
  packages/filetree/src/index.js
Due: prettier --write, import-sort --write, eslint --fix

fix: filetree-keypress-bug-part1
  packages/file-ops/main/index.js
  packages/file-ops/package.json
  packages/file-ops/src/ElectronFileOps.js
  packages/filetree/src/helper.js
  packages/filetree/src/hooks/useBatchLoad.js
  packages/filetree/src/index.js
  packages/workspace/src/ProjectManager/LocalProjectManager.js
Due: prettier --write, import-sort --write, eslint --fix

fix: filetree-keypress-bug-part1 (#241)
  packages/file-ops/main/index.js
  packages/file-ops/package.json
  packages/file-ops/src/ElectronFileOps.js
  packages/filetree/src/helper.js
  packages/filetree/src/hooks/useBatchLoad.js
  packages/filetree/src/index.js
  packages/workspace/src/ProjectManager/LocalProjectManager.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update web trigger step
  .github/workflows/trigger_deploy.yml
Due: prettier --write

chore: add a example
  packages/i18n/src/locales/en.js
  packages/i18n/src/locales/zh.js
Due: prettier --write, import-sort --write, eslint --fix

fix: refactor filetree handleClick and setActive function
  packages/filetree/src/helper.js
  packages/filetree/src/index.js
  packages/ui-components/src/Tabs/TabsWithNavigationBar.js
  packages/workspace/src/components/Workspace.js
Due: prettier --write, import-sort --write, eslint --fix

fix: refactor filetree handleClick and setActive function (#242)
  packages/filetree/src/helper.js
  packages/filetree/src/index.js
  packages/ui-components/src/Tabs/TabsWithNavigationBar.js
  packages/workspace/src/components/Workspace.js
Due: prettier --write, import-sort --write, eslint --fix

fix: click same item of filtree causes contenxtmenu disappear
  packages/filetree/src/index.js
Due: prettier --write, import-sort --write, eslint --fix

fix: click same item of filtree causes contenxtmenu disappear (#244)
  packages/filetree/src/index.js
Due: prettier --write, import-sort --write, eslint --fix

feat: render the link optional
  packages/docker/src/ListItemDockerImage.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update
  packages/ui-components/src/Tabs/NavigationBar.js
  packages/ui-components/src/styles/theme.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

chore: fetch the update
  yarn.lock
Due: none

chore: update 0511
  packages/workspace/src/ProjectManager/LocalProjectManager.js
Due: prettier --write, import-sort --write, eslint --fix

fix: refactor auth module code
  packages/auth/src/Auth.js
  packages/auth/src/providers/github.js
  packages/auth/src/providers/index.js
Due: prettier --write, import-sort --write, eslint --fix

feat: zh en add
  packages/file-ops/main/index.js
  packages/file-ops/package.json
  packages/file-ops/src/ElectronFileOps.js
  packages/filetree/src/helper.js
  packages/filetree/src/hooks/useBatchLoad.js
  packages/filetree/src/index.js
  packages/i18n/src/locales/en.js
  packages/i18n/src/locales/zh.js
  packages/keypair/package.json
  packages/keypair/src/CreateKeypairModal.js
  packages/keypair/src/ImportKeypairModal.js
  packages/keypair/src/KeypairManagerModal.js
  packages/keypair/src/KeypairNameModal.js
  packages/navbar/package.json
  packages/navbar/src/NavDropdown.js
  packages/navbar/src/NavLinkContent.js
  packages/navbar/src/User.js
  packages/queue/package.json
  packages/queue/src/QueueButton.js
  packages/ui-components/src/Modal.js
  packages/ui-components/src/Tabs/TabsWithNavigationBar.js
  packages/user/package.json
  packages/user/src/UserHomepage.js
  packages/user/src/UserProfile.js
  packages/workspace/package.json
  packages/workspace/src/ProjectManager/LocalProjectManager.js
  packages/workspace/src/components/NewProjectModal.js
  packages/workspace/src/components/Workspace.js
  packages/workspace/src/components/WorkspaceSettingModal.js
  packages/workspace/src/navbarItem.js
Due: prettier --write, import-sort --write, eslint --fix

fix: duplicated failed when filename without extension
  packages/workspace/src/ProjectManager/LocalProjectManager.js
Due: prettier --write, import-sort --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.{css,json,md,yaml,yml}) or (any of: **/*.{js,jsx})
  stylelint: any of: **/*.{scss, css}
  import-sort --write: any of: **/*.{js,jsx}
  eslint --fix: any of: **/*.{js,jsx}
