Repository ObsidianLabs/electron-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, import-sort --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{css,json,md,yaml,yml}": ["prettier --write"],
  "**/*.{scss, css}": ["stylelint"],
  "**/*.{js,jsx}": ["import-sort --write", "prettier --write", "eslint --fix"]
}

fix: update findSelectedOption dropdownInput
  packages/keypair/src/KeypairInputSelector.js
  packages/ui-components/src/inputs/DropdownInput.js
  packages/ui-components/src/inputs/dropdownInput.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: update findSelectedOption dropdownInput (#329)
  packages/keypair/src/KeypairInputSelector.js
  packages/ui-components/src/inputs/DropdownInput.js
  packages/ui-components/src/inputs/dropdownInput.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

feat: allow view project list without login
  packages/navbar/src/NavLinkLeft.js
Due: prettier --write, import-sort --write, eslint --fix

fix: change updateKeypairs method in keypairInputSelector
  packages/keypair/src/KeypairInputSelector.js
Due: prettier --write, import-sort --write, eslint --fix

fix: change updateKeypairs method in keypairInputSelector (#331)
  packages/keypair/src/KeypairInputSelector.js
Due: prettier --write, import-sort --write, eslint --fix

fixup! fix: change updateKeypairs method in keypairInputSelector
  packages/keypair/src/KeypairInputSelector.js
Due: prettier --write, import-sort --write, eslint --fix

fixup! fix: change updateKeypairs method in keypairInputSelector (#332)
  packages/keypair/src/KeypairInputSelector.js
Due: prettier --write, import-sort --write, eslint --fix

fix: build failed after toggling public/private
  packages/code-editor/src/CodeEditorCollection.js
  packages/code-editor/src/MonacoEditor/CustomTabContainer.js
  packages/code-editor/src/MonacoEditor/MonacoEditorContainer.js
  packages/code-editor/src/customTabs/Markdown/index.js
  packages/workspace/src/WorkspaceLoader.js
  packages/workspace/src/components/Workspace.js
Due: prettier --write, import-sort --write, eslint --fix

fix: build failed after toggling public/private (#333)
  packages/code-editor/src/CodeEditorCollection.js
  packages/code-editor/src/MonacoEditor/CustomTabContainer.js
  packages/code-editor/src/MonacoEditor/MonacoEditorContainer.js
  packages/code-editor/src/customTabs/Markdown/index.js
  packages/workspace/src/WorkspaceLoader.js
  packages/workspace/src/components/Workspace.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add breadcrumb bar
  packages/code-editor/src/MonacoEditor/MonacoEditor.js
  packages/code-editor/src/MonacoEditor/MonacoEditorContainer.js
  packages/code-editor/src/MonacoEditor/modelSessionManager/MonacoEditorModelSession.js
  packages/code-editor/src/MonacoEditor/modelSessionManager/breadcrumb-data.js
  packages/code-editor/src/MonacoEditor/modelSessionManager/index.js
  packages/code-editor/src/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: remove console log
  packages/code-editor/src/MonacoEditor/MonacoEditorContainer.js
Due: prettier --write, import-sort --write, eslint --fix

fix(tailwind): add prefix to tailwind-made components (#324)
  packages/ui-components/src/ported/Badge.js
  packages/ui-components/src/ported/Container.js
  packages/ui-components/src/ported/Jumbotron.js
Due: prettier --write, import-sort --write, eslint --fix

fix: cloud project update list
  packages/user/src/UserHomepage.js
Due: prettier --write, import-sort --write, eslint --fix

fix: fix error
  packages/code-editor/src/MonacoEditor/modelSessionManager/MonacoEditorModelSession.js
Due: prettier --write, import-sort --write, eslint --fix

fix: fix some code issue
  packages/code-editor/src/MonacoEditor/MonacoEditorContainer.js
Due: prettier --write, import-sort --write, eslint --fix

fix: fix code issues
  packages/code-editor/src/MonacoEditor/MonacoEditorContainer.js
Due: prettier --write, import-sort --write, eslint --fix

fix: distinction remote and desktop project template
  packages/workspace/src/components/NewProjectModal.js
Due: prettier --write, import-sort --write, eslint --fix

fix: distinction remote and desktop project template (#336)
  packages/workspace/src/components/NewProjectModal.js
Due: prettier --write, import-sort --write, eslint --fix

fix: fix breadcrumb bar style
  packages/code-editor/src/MonacoEditor/MonacoEditorContainer.js
  packages/code-editor/src/MonacoEditor/modelSessionManager/MonacoEditorModelSession.js
  packages/code-editor/src/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: fix menu item height
  packages/code-editor/src/styles.scss
Due: stylelint

fix: resolve error from react-dnd
  packages/ui-components/src/Tabs/TabHeader.js
Due: prettier --write, import-sort --write, eslint --fix

fix: resolve error from react-dnd (#338)
  packages/ui-components/src/Tabs/TabHeader.js
Due: prettier --write, import-sort --write, eslint --fix

fixup! fix: resolve error from react-dnd
  packages/ui-components/src/Tabs/TabHeader.js
Due: prettier --write, import-sort --write, eslint --fix

fixup! fix: resolve error from react-dnd (#339)
  packages/ui-components/src/Tabs/TabHeader.js
Due: prettier --write, import-sort --write, eslint --fix

feat: update onEditiButton in Markdown
  packages/code-editor/src/MonacoEditor/CustomTabContainer.js
  packages/code-editor/src/customTabs/Markdown/index.js
Due: prettier --write, import-sort --write, eslint --fix

fixup! fix: resolve error from react-dnd (#341)
  packages/ui-components/src/Tabs/TabHeader.js
Due: prettier --write, import-sort --write, eslint --fix

feat: update onEditiButton in Markdown (#340)
  packages/code-editor/src/MonacoEditor/CustomTabContainer.js
  packages/code-editor/src/customTabs/Markdown/index.js
Due: prettier --write, import-sort --write, eslint --fix

feat: notification optimization of contract deploy
  packages/notification/src/manager.js
Due: prettier --write, import-sort --write, eslint --fix

feat: update bif packages
  packages/auth/src/Auth.js
  packages/auth/src/providers/base.js
  packages/auth/src/providers/bif.js
  packages/auth/src/providers/bsn.js
  packages/auth/src/providers/github.js
  packages/auth/src/providers/index.js
  packages/auth/src/providers/nouser.js
  packages/auth/src/providers/tencent.js
  packages/i18n/src/locales/zh.js
  packages/keypair/src/KeypairButton.js
  packages/ui-components/src/Modal.js
Due: prettier --write, import-sort --write, eslint --fix

feat: notification optimization of contract deploy (#342)
  packages/notification/src/manager.js
Due: prettier --write, import-sort --write, eslint --fix

fix: keypair dropdown input causes black screen
  packages/ui-components/src/inputs/DropdownInput.js
Due: prettier --write, import-sort --write, eslint --fix

fix: keypair dropdown input causes black screen (#343)
  packages/ui-components/src/inputs/DropdownInput.js
Due: prettier --write, import-sort --write, eslint --fix

fix: update ast bar
  packages/code-editor/package.json
  packages/code-editor/src/MonacoEditor/MonacoEditorContainer.js
  packages/code-editor/src/MonacoEditor/modelSessionManager/MonacoEditorModelSession.js
  packages/code-editor/src/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: fix code issue
  packages/code-editor/src/MonacoEditor/MonacoEditorContainer.js
  packages/code-editor/src/MonacoEditor/modelSessionManager/MonacoEditorModelSession.js
Due: prettier --write, import-sort --write, eslint --fix

fix: change logic from ast to grep match
  packages/code-editor/src/MonacoEditor/modelSessionManager/MonacoEditorModelSession.js
Due: prettier --write, import-sort --write, eslint --fix

feat: project module needs to add drop-down action icons
  packages/navbar/src/NavDropdown.js
  packages/navbar/src/NavLinkLeft.js
  packages/navbar/src/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

feat: project module needs to add drop-down action icons (#346)
  packages/navbar/src/NavDropdown.js
  packages/navbar/src/NavLinkLeft.js
  packages/navbar/src/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

chore: temp commit
  packages/auth/src/providers/bif.js
  packages/ipc/src/HttpIpcChannel/BuildService.js
Due: prettier --write, import-sort --write, eslint --fix

feat: ast bar add filetree
  packages/code-editor/src/MonacoEditor/MonacoEditorContainer.js
  packages/code-editor/src/styles.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix
